</div>
<footer>
    <div class="btn-footer">
        <a href="/">
            <div>
                <svg>
                    <use xlink:href="/main.svg#home-svg"></use>
                </svg><br>
                <span>HOME</span>
            </div>
        </a>
        <a href="/news">
            <div>
                <svg>
                    <use xlink:href="/main.svg#news-svg"></use>
                </svg><br>
                <span>news</span>
            </div>
        </a>
        <a href="">
            <div>
                <svg>
                    <use xlink:href="/main.svg#forum-svg"></use>
                </svg><br>
                <span>forum</span>
            </div>
        </a>
        <a href="">
            <div>
                <svg>
                    <use xlink:href="/main.svg#profile-svg"></use>
                </svg><br>
                <span>profile</span>
            </div>
        </a>
    </div>
    <div class="hr-git">
        <hr>
        <div class="bg-git">
            <a href="https://github.com/EV1L46rus/Course-work">
                <svg>
                    <use xlink:href="/main.svg#git-svg"></use>
                </svg>
            </a>
        </div>
    </div>   
    <h3>© 2022</h3>
</footer>
    
</body>

</html>