<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <%- locals.headLink %>
        <script src="/script.js" defer></script>
        <link rel="icon" href="/images/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>
            <%= locals.title || 'Web' %>
        </title>
</head>

<body>
    <header class="<%- locals.homePage %>">
        <div class="flex-main-header">
            <div class="flex-btn-header">
                <a href="/">
                    <svg class="logo-svg ">
                        <use xlink:href="/main.svg#logo-svg"></use>
                    </svg>
                </a>
                <a href="/news">News</a>
                <a href="/forum">Forum</a>
            </div>
            <div class="search">
                <input type="text" placeholder="Search...">
                <select name="" id="">
                    <option value="" disabled>Select type</option>
                    <option value="">News</option>
                    <option value="">Forum</option>
                </select>
                <button>
                    <svg>
                        <use xlink:href="/main.svg#search-svg"></use>
                    </svg>
                </button>
            </div> 
            <div class="btn-profile">
                <% if (locals.token != 0){ %>
                    
                <% } else{%>
                    <a href="/sign-in">Sign in</a>
                    <hr width="1" size="28" style="margin: 0 12px;"/>
                    <a href="/sign-up">Sign up</a>
                <% } %>
            </div>
        </div>
    </header>
<div class="wrap">