<form class="sign-in">
    <div class="close-line">
        <span onclick="closeSigIn(this)">
            <svg>
                <use xlink:href="/main.svg#close-svg"></use>
            </svg>
        </span>
    </div>
    <div class="logo-block">
        <a href="/">
            <svg>
                <use xlink:href="/main.svg#logo-svg"></use>
            </svg>
        </a>
    </div>
    <div class="description">
        <h3>Your login or email:</h3>
        <input type="text" placeholder="Enter login or email...">
        <h3>Your password:</h3>
        <div class="pass">
            <input type="password" name="" id="" class="pass" placeholder="Enter password...">
            <span onclick="showPassword(this)">
                <svg>
                    <use xlink:href="/main.svg#yey-svg"></use>
                </svg>
            </span>
        </div>
    </div>
    <button class="accept">Sign in</button>
</form>