/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  color: #ccc;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

textarea {
  overflow-y: hidden;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  background: #0d1117;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  transition: color 0.2s;
}
a:focus-visible {
  outline: 0;
}
a:hover {
  color: rgba(217, 217, 217, 0.6);
}

input {
  background: 0;
  border: 0;
  color: #ccc;
}
input:focus-visible {
  outline: 0;
}

textarea {
  background: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  color: #ccc;
}
textarea:focus-visible {
  outline: 0;
}

button {
  margin: 0;
  padding: 0;
  background: 0;
  border: 0;
  cursor: pointer;
}

header {
  width: 100%;
  height: 60px;
  background: #161b22;
  padding: 16px;
}
header svg {
  width: 32px;
  height: 32px;
  margin: 0 16px 0 16px;
}
header .flex-main-header {
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-between;
}
header .flex-main-header .flex-btn-header {
  display: flex;
  width: 300px;
  height: 28px;
  align-items: center;
}
header .flex-main-header .flex-btn-header a {
  margin: 0 12px 0 12px;
}
header .flex-main-header .flex-btn-header a .logo-svg {
  fill: #ccc;
  transition: fill 0.2s;
}
header .flex-main-header .flex-btn-header a:hover .logo-svg {
  fill: rgba(217, 217, 217, 0.6);
}
header .flex-main-header .search {
  width: 500px;
  height: 32px;
  padding: 2px 2px 2px 5px;
  margin: 0 auto 0 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  transition: 0.2s;
}
header .flex-main-header .search input {
  width: calc(100% - 28px);
  height: 28px;
}
header .flex-main-header .search select {
  width: 60px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  position: relative;
  outline: none;
}
header .flex-main-header .search button {
  width: 28px;
  height: 28px;
}
header .flex-main-header .search button svg {
  margin: 0;
  width: 24px;
  height: 24px;
  fill: #ccc;
  transition: fill 0.2s;
}
header .flex-main-header .search button:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
header .flex-main-header .search:hover {
  border-color: rgba(217, 217, 217, 0.6);
}
header .flex-main-header .btn-profile {
  position: relative;
  padding-right: 12px;
  display: flex;
  align-items: center;
}
header .flex-main-header .btn-profile span {
  font-size: 20px;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s;
}
header .flex-main-header .btn-profile span:hover {
  color: rgba(217, 217, 217, 0.6);
}
header .flex-main-header .btn-profile span.sign-up-header {
  color: rgb(0, 116, 204);
}
header .flex-main-header .btn-profile span.sign-up-header:hover {
  color: rgba(0, 116, 204, 0.7);
}
header .flex-main-header .btn-profile .profile {
  width: 36px;
  height: 36px;
  border: 2px solid #ccc;
  border-radius: 100%;
  cursor: pointer;
  transition: border-color 0.2s;
}
header .flex-main-header .btn-profile .profile img {
  width: 28px;
  height: 28px;
  margin: 2px;
  border-radius: 100%;
}
header .flex-main-header .btn-profile .profile:hover {
  border-color: rgba(217, 217, 217, 0.6);
}
header .flex-main-header .btn-profile .drop-down-menu {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 52px;
  right: 0;
  width: 170px;
  border-radius: 5px;
  box-shadow: 0 0 10px #0d1117;
  overflow: hidden;
  background: #161b22;
  z-index: 11;
  transition: 0.2s;
}
header .flex-main-header .btn-profile .drop-down-menu.active {
  opacity: 1;
  pointer-events: all;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 6px;
  cursor: pointer;
  transition: 0.2s;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop svg {
  fill: #ccc;
  width: 28px;
  height: 28px;
  margin: 0;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop span {
  text-decoration: none;
  color: #ccc;
  margin-left: 12px;
  line-height: 28px;
  font-size: 18px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop:hover {
  background: rgba(255, 255, 255, 0.1);
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop.out {
  margin-top: 40px;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop.out svg {
  fill: #cf1111;
}
header .flex-main-header .btn-profile .drop-down-menu .flex-btn-drop.out span {
  color: #cf1111;
}
header.home-header {
  position: relative;
  background: rgba(0, 0, 0, 0);
}
header.home-header .search {
  display: none;
}

footer {
  width: 100%;
  background: #161b22;
  padding: 24px;
}
footer .btn-footer {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 12px auto 32px auto;
}
footer .btn-footer a div {
  width: 200px;
  height: 100px;
  padding: 5px;
}
footer .btn-footer a div svg {
  width: 60px;
  height: 60px;
  fill: #ccc;
  transition: fill 0.2s;
}
footer .btn-footer a div span {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s;
}
footer .btn-footer a:hover div svg {
  fill: rgba(217, 217, 217, 0.6);
}
footer .btn-footer a:hover div span {
  color: rgba(217, 217, 217, 0.6);
}
footer .btn-footer .white-space {
  width: 100px;
}
footer .hr-git {
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  height: 60px;
  margin: auto;
}
footer .hr-git hr {
  width: 100%;
}
footer .hr-git .bg-git {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  bottom: 0;
  width: 200px;
  height: 60px;
  background: #161b22;
}
footer .hr-git .bg-git a svg {
  width: 60px;
  height: 60px;
  fill: #ccc;
  transition: fill 0.2s;
}
footer .hr-git .bg-git a svg:hover {
  fill: rgba(217, 217, 217, 0.6);
}
footer h3 {
  margin-left: 5%;
  text-align: left;
}

.blure {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: rgba(1, 1, 1, 0.8);
  transition: 0.2s;
}
.blure.active {
  opacity: 1;
  pointer-events: all;
}

.blure-transparency {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: none;
  transition: 0.2s;
}
.blure-transparency.active {
  opacity: 1;
  pointer-events: all;
}

.wrap {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - 336px);
}

.display-error {
  position: absolute;
  top: -60px;
  width: 100%;
  height: calc(100vh - 275px);
  overflow: hidden;
}
.display-error img {
  height: 100vh;
  min-width: 100%;
  bottom: 0;
  z-index: 1;
}
.display-error a .logo-svg {
  position: absolute;
  z-index: 3;
  fill: #ccc;
  width: 100px;
  height: 100px;
  top: 10%;
  left: calc(50% - 50px);
  transition: fill 0.2s;
}
.display-error a:hover .logo-svg {
  fill: rgba(217, 217, 217, 0.6);
}
.display-error h1 {
  position: absolute;
  z-index: 3;
  top: 200px;
  left: calc(50% - 110px);
  color: #ccc;
}
.display-error .error-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(1, 1, 1, 0.5);
  box-shadow: inset 0px 0px 100px #000;
}

.display-home {
  position: absolute;
  top: -60px;
  width: 100%;
  height: calc(100vh - 275px);
  overflow: hidden;
  z-index: -1;
}
.display-home img {
  height: 100vh;
  min-width: 100%;
  bottom: 0;
  z-index: 1;
}
.display-home .logo-svg {
  position: absolute;
  z-index: 3;
  fill: #ccc;
  width: 100px;
  height: 100px;
  top: 10%;
  left: calc(50% - 50px);
}
.display-home .home-screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(1, 1, 1, 0.5);
  box-shadow: inset 0px 0px 100px #000;
}
.display-home .home-screen .home-page-line {
  width: 50%;
  text-align: left;
}
.display-home .home-screen .home-page-line .input-home-screen {
  display: flex;
  width: 100%;
  background-color: rgba(217, 217, 217, 0.6);
  border: 1px solid grey;
  border-radius: 5px;
  padding: 12px;
  margin: 0 auto;
  height: 60px;
}
.display-home .home-screen .home-page-line .input-home-screen input {
  width: calc(100% - 136px);
  height: 36px;
  color: white;
}
.display-home .home-screen .home-page-line .input-home-screen input::-moz-placeholder {
  color: lightgrey;
}
.display-home .home-screen .home-page-line .input-home-screen input:-ms-input-placeholder {
  color: lightgrey;
}
.display-home .home-screen .home-page-line .input-home-screen input::placeholder {
  color: lightgrey;
}
.display-home .home-screen .home-page-line .input-home-screen select {
  width: 100px;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  position: relative;
  outline: none;
  padding: 5px;
}
.display-home .home-screen .home-page-line .input-home-screen button {
  width: 36px;
  height: 36px;
}
.display-home .home-screen .home-page-line .input-home-screen button svg {
  fill: #ccc;
  width: 36px;
  height: 36px;
  transition: fill 0.2s;
}
.display-home .home-screen .home-page-line .input-home-screen button:hover svg {
  fill: white;
}
.display-home .home-screen .home-page-line h1 {
  margin-bottom: 12px;
  color: white;
  text-transform: uppercase;
}
.display-home .home-screen .home-page-line .home-page-sign {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 50%;
  height: 50px;
}
.display-home .home-screen .home-page-line .home-page-sign hr {
  margin: 0 12px 0 12px;
}
.display-home .home-screen .home-page-line .home-page-sign span {
  font-size: 20px;
  margin-right: 12px;
}
.display-home .home-screen .home-page-line .home-page-sign .underline {
  text-decoration: underline;
  transition: color 0.2s;
  cursor: pointer;
}
.display-home .home-screen .home-page-line .home-page-sign .underline:hover {
  color: rgba(217, 217, 217, 0.6);
}

.news-page {
  width: calc(100% - 340px);
  min-height: calc(100vh - 376px);
  margin: 20px;
  background: #161b22;
  border-radius: 5px;
}
.news-page .filter-menu {
  width: calc(100% - 25px);
  height: 50px;
  margin: 12px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
}
.news-page .filter-menu span {
  color: rgba(217, 217, 217, 0.6);
}
.news-page .filter-menu a {
  margin: 12px;
  font-size: 18px;
}
.news-page .filter-menu hr {
  margin: 0;
}
.news-page .news-item {
  position: relative;
  display: flex;
  align-items: center;
  width: calc(100% - 25px);
  height: 300px;
  margin: 12px;
  padding: 25px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6);
  transition: 0.2s;
  overflow: hidden;
}
.news-page .news-item .img-block {
  position: relative;
  width: 375px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.news-page .news-item .img-block img {
  width: 100%;
  height: 250px;
  transition: 0.2s;
}
.news-page .news-item .img-block .dark-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
.news-page .news-item .img-block a {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 116, 204);
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: 0.2s;
}
.news-page .news-item .img-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.news-page .news-item .img-block h3 {
  position: absolute;
  bottom: -30px;
  left: 10px;
  transition: 0.4s;
  cursor: context-menu;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.news-page .news-item .img-block:hover img {
  filter: blur(2px);
}
.news-page .news-item .img-block:hover .dark-img {
  background: rgba(0, 0, 0, 0.8);
}
.news-page .news-item .img-block:hover a {
  bottom: 50px;
}
.news-page .news-item .img-block:hover h3 {
  bottom: 10px;
  color: rgba(217, 217, 217, 0.6);
}
.news-page .news-item .text-block {
  width: calc(100% - 477px);
  height: 250px;
  margin: 0 20px 0 20px;
  text-align: left;
}
.news-page .news-item .text-block a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 116, 204);
}
.news-page .news-item .text-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.news-page .news-item .text-block div {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-page .news-item .info-block {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 250px;
}
.news-page .news-item .info-block .date {
  position: absolute;
  top: 0;
  width: 100%;
  color: rgba(217, 217, 217, 0.6);
  text-align: right;
}
.news-page .news-item .info-block .info {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-page .news-item .info-block .info svg {
  width: 25px;
  height: 25px;
  fill: rgba(217, 217, 217, 0.6);
}
.news-page .news-item .info-block .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.news-page .news-item .info-block .info span {
  color: rgba(217, 217, 217, 0.6);
}
.news-page .news-item .info-block .more {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: rgb(0, 116, 204);
  transition: 0.2s;
}
.news-page .news-item .info-block .more:hover {
  background: rgba(0, 116, 204, 0.7);
}

.forum-page {
  width: calc(100% - 340px);
  min-height: calc(100vh - 376px);
  margin: 20px;
  background: #161b22;
  border-radius: 5px;
}
.forum-page .filter-menu {
  width: calc(100% - 25px);
  height: 50px;
  margin: 12px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.forum-page .filter-menu span {
  color: rgba(217, 217, 217, 0.6);
}
.forum-page .filter-menu a {
  margin: 12px;
  font-size: 18px;
}
.forum-page .filter-menu hr {
  margin: 0;
}
.forum-page .block-discussion {
  width: calc(100% - 25px);
  min-height: 50px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6);
  margin: 12px;
  padding: 12px;
  transition: 0.2s;
  overflow: hidden;
}
.forum-page .block-discussion .upper-block {
  display: flex;
  align-items: center;
  width: 100%;
}
.forum-page .block-discussion .upper-block .info-block {
  width: 100px;
  min-height: 75px;
}
.forum-page .block-discussion .upper-block .info-block .info {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forum-page .block-discussion .upper-block .info-block .info svg {
  width: 25px;
  height: 25px;
  fill: rgba(217, 217, 217, 0.6);
}
.forum-page .block-discussion .upper-block .info-block .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.forum-page .block-discussion .upper-block .info-block .info span {
  color: rgba(217, 217, 217, 0.6);
}
.forum-page .block-discussion .upper-block .text-block {
  width: calc(100% - 112px);
  min-height: 75px;
  text-align: left;
  margin-left: 12px;
}
.forum-page .block-discussion .upper-block .text-block a {
  font-weight: bold;
  color: rgb(0, 116, 204);
}
.forum-page .block-discussion .upper-block .text-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.forum-page .block-discussion .upper-block .text-block div {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.forum-page .block-discussion .topic-block {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}
.forum-page .block-discussion .topic-block a {
  margin: 6px;
}
.forum-page .block-discussion .topic-block a .topic {
  background: rgb(0, 116, 204);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.2s;
}
.forum-page .block-discussion .topic-block a:hover .topic {
  background: rgba(0, 116, 204, 0.7);
}

.topics-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 0;
  width: 300px;
  height: calc(100vh - 376px);
  padding: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #161b22;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  overflow: hidden;
  overflow-y: scroll;
}
.topics-menu::-webkit-scrollbar {
  width: 0px;
}
.topics-menu span {
  color: rgba(217, 217, 217, 0.6);
}
.topics-menu .toopic-block {
  width: 100%;
  height: 50px;
}
.topics-menu .toopic-block svg {
  width: 36px;
  height: 36px;
  fill: #ccc;
}
.topics-menu .toopic-block .topic-btn {
  margin-bottom: 12px;
}
.topics-menu .toopic-block .topic-btn .first-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.topics-menu .toopic-block .topic-btn .first-block span {
  display: flex;
  align-items: center;
}
.topics-menu .toopic-block .topic-btn .first-block span a {
  margin-left: 12px;
}
.topics-menu .toopic-block .topic-btn .first-block .triangle {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
  transition: transform 0.2s;
}
.topics-menu .toopic-block .topic-btn .first-block.active .triangle {
  transform: rotate(0deg);
}
.topics-menu .toopic-block .topic-btn .second-block {
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
  padding: 0 12px 0 12px;
  width: 100%;
}
.topics-menu .toopic-block .topic-btn .second-block .btn-click {
  height: 32px;
}
.topics-menu .toopic-block .topic-btn .second-block.active {
  height: 224px;
}

.page-news-item {
  width: 50%;
  min-height: calc(100vh - 360px);
  margin: 12px auto 12px auto;
  padding: 12px;
  border-radius: 5px;
  background: #161b22;
}
.page-news-item .header-news {
  position: relative;
  display: flex;
  width: 100%;
  height: 250px;
}
.page-news-item .header-news .img-block {
  position: relative;
  width: 375px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.page-news-item .header-news .img-block img {
  width: 100%;
  height: 250px;
  transition: 0.2s;
}
.page-news-item .header-news .img-block .dark-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
.page-news-item .header-news .img-block h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: 0.2s;
  cursor: context-menu;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-news-item .header-news .img-block h3 {
  position: absolute;
  bottom: -30px;
  left: 10px;
  transition: 0.4s;
  cursor: context-menu;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-news-item .header-news .img-block:hover img {
  filter: blur(2px);
}
.page-news-item .header-news .img-block:hover .dark-img {
  background: rgba(0, 0, 0, 0.8);
}
.page-news-item .header-news .img-block:hover h1 {
  bottom: 50px;
}
.page-news-item .header-news .img-block:hover h3 {
  bottom: 10px;
  color: rgba(217, 217, 217, 0.6);
}
.page-news-item .header-news .info-block {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: calc(100% - 387px);
  height: 250px;
  margin-left: 12px;
}
.page-news-item .header-news .info-block h2 {
  color: rgb(0, 116, 204);
}
.page-news-item .header-news .info-block .stats {
  display: flex;
}
.page-news-item .header-news .info-block .stats .info {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 25px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.page-news-item .header-news .info-block .stats .info svg {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  fill: rgba(217, 217, 217, 0.6);
}
.page-news-item .header-news .info-block .stats .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.page-news-item .header-news .info-block .stats .info span {
  color: rgba(217, 217, 217, 0.6);
}
.page-news-item .header-news .info-block .favorite-div {
  margin-top: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.page-news-item .header-news .info-block .favorite-div svg {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: rgb(0, 116, 204);
  transition: stroke 0.2s;
}
.page-news-item .header-news .info-block .favorite-div:hover svg {
  stroke: rgba(0, 116, 204, 0.7);
}
.page-news-item .header-news .info-block .date {
  width: 100%;
  color: rgba(217, 217, 217, 0.6);
  text-align: left;
  margin: 12px 0;
}
.page-news-item .text-block {
  width: 100%;
  margin: 20px 0 20px 0;
  text-align: left;
}
.page-news-item .comment-block {
  width: 100%;
  margin: 12px 0 12px 0;
  text-align: left;
}
.page-news-item .comment-block hr {
  border-color: rgba(217, 217, 217, 0.6);
}
.page-news-item .comment-block .write-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page-news-item .comment-block .write-comment textarea {
  width: calc(100% - 62px);
  min-height: 50px;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}
.page-news-item .comment-block .write-comment textarea::-webkit-scrollbar {
  width: 0;
}
.page-news-item .comment-block .write-comment button {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 12px 0;
}
.page-news-item .comment-block .write-comment button svg {
  width: 30px;
  height: 30px;
  fill: rgb(0, 116, 204);
  transition: fill 0.2s;
}
.page-news-item .comment-block .write-comment button:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}
.page-news-item .comment-block .all-comments {
  width: 100%;
  margin-top: 20px;
}
.page-news-item .comment-block .all-comments .user-comment {
  width: 100%;
  min-height: 100px;
  margin: 12px 0;
}
.page-news-item .comment-block .all-comments .user-comment .user {
  width: 100%;
  height: 50px;
  display: flex;
}
.page-news-item .comment-block .all-comments .user-comment .user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.page-news-item .comment-block .all-comments .user-comment .user a {
  color: rgb(0, 116, 204);
  margin-left: 12px;
  font-weight: bold;
}
.page-news-item .comment-block .all-comments .user-comment .user a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-news-item .comment-block .all-comments .user-comment .user span {
  margin-left: auto;
  color: rgba(217, 217, 217, 0.6);
}
.page-news-item .comment-block .all-comments .user-comment .comment {
  width: calc(100% - 50px);
  margin-left: 62px;
  margin-top: -6px;
}

.page-forum-item {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: calc(100vh - 376px);
  background: #161b22;
  margin: 12px auto;
  padding: 12px;
  border-radius: 5px;
}
.page-forum-item .body-question-block {
  width: 100%;
  text-align: left;
}
.page-forum-item .body-question-block .user-block {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.page-forum-item .body-question-block .user-block .user-link {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
}
.page-forum-item .body-question-block .user-block .user-link img {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}
.page-forum-item .body-question-block .user-block .user-link a {
  font-weight: bold;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
}
.page-forum-item .body-question-block .user-block .user-link a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-forum-item .body-question-block .user-block .date-favorite {
  display: flex;
  height: 50px;
}
.page-forum-item .body-question-block .user-block .date-favorite span {
  margin-top: 6px;
  color: rgba(217, 217, 217, 0.6);
}
.page-forum-item .body-question-block .user-block .date-favorite a svg {
  width: 50px;
  height: 50px;
  fill: none;
  stroke: rgb(0, 116, 204);
  transition: stroke 0.2s;
}
.page-forum-item .body-question-block .user-block .date-favorite a:hover svg {
  stroke: rgba(0, 116, 204, 0.7);
}
.page-forum-item .body-question-block .question-element {
  width: 100%;
  display: flex;
  align-items: center;
}
.page-forum-item .body-question-block .question-element .question {
  width: calc(100% - 100px);
  min-height: 158px;
  margin-left: 62px;
}
.page-forum-item .body-question-block .question-element .question .info-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.page-forum-item .body-question-block .question-element .question .info-block .report {
  width: 37px;
  margin-left: auto;
  cursor: pointer;
}
.page-forum-item .body-question-block .question-element .question .info-block .report svg {
  width: 25px;
  height: 25px;
  fill: rgb(0, 116, 204);
  transition: fill 0.2s;
}
.page-forum-item .body-question-block .question-element .question .info-block .report svg:hover {
  fill: rgba(0, 116, 204, 0.7);
}
.page-forum-item .body-question-block .question-element .question .info-block .info {
  min-width: 50px;
  height: 25px;
  margin: 0 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-forum-item .body-question-block .question-element .question .info-block .info svg {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  fill: rgba(217, 217, 217, 0.6);
}
.page-forum-item .body-question-block .question-element .question .info-block .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.page-forum-item .body-question-block .question-element .question .info-block .info span {
  color: rgba(217, 217, 217, 0.6);
}
.page-forum-item .body-question-block .question-element .question .topic-block {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}
.page-forum-item .body-question-block .question-element .question .topic-block a {
  display: inline-block;
}
.page-forum-item .body-question-block .question-element .question .topic-block a .btn {
  padding: 6px 12px;
  background: rgb(0, 116, 204);
  border-radius: 20px;
  transition: 0.2s;
}
.page-forum-item .body-question-block .question-element .question .topic-block a:hover .btn {
  background-color: rgba(0, 116, 204, 0.7);
}
.page-forum-item .body-question-block .question-element .rating-block {
  width: 50px;
  height: 158px;
}
.page-forum-item .body-question-block .question-element .rating-block a {
  width: 50px;
  height: 50px;
  display: inline-block;
}
.page-forum-item .body-question-block .question-element .rating-block a svg {
  width: 50px;
  height: 50px;
  fill: #ccc;
  transition: fill 0.2s;
}
.page-forum-item .body-question-block .question-element .rating-block a .down-arrow {
  transform: rotate(180deg);
}
.page-forum-item .body-question-block .question-element .rating-block a:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.page-forum-item .body-question-block .question-element .rating-block .rating-text {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.page-forum-item hr {
  border-color: rgba(217, 217, 217, 0.6);
}
.page-forum-item .comments-user {
  width: 100%;
}
.page-forum-item .comments-user .answer-user {
  position: relative;
  margin: 12px 0;
  width: 100%;
}
.page-forum-item .comments-user .answer-user .user {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.page-forum-item .comments-user .answer-user .user span {
  color: rgba(217, 217, 217, 0.6);
}
.page-forum-item .comments-user .answer-user .user span svg {
  width: 32px;
  height: 32px;
  margin: 9px;
  fill: #ccc;
  transform: rotate(90deg);
  cursor: pointer;
  transition: fill 0.2s;
}
.page-forum-item .comments-user .answer-user .user span svg:hover {
  fill: rgba(217, 217, 217, 0.6);
}
.page-forum-item .comments-user .answer-user .user span.active svg {
  fill: rgb(0, 116, 204);
}
.page-forum-item .comments-user .answer-user .user span.active svg:hover {
  fill: rgba(0, 116, 204, 0.7);
}
.page-forum-item .comments-user .answer-user .user .user-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 50px;
  display: flex;
}
.page-forum-item .comments-user .answer-user .user .user-link img {
  width: 50px;
  height: 50px;
}
.page-forum-item .comments-user .answer-user .user .user-link .user-date {
  margin-left: 12px;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.page-forum-item .comments-user .answer-user .user .user-link .user-date span {
  color: rgba(217, 217, 217, 0.6);
}
.page-forum-item .comments-user .answer-user .user .user-link .user-date a {
  font-weight: bold;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
}
.page-forum-item .comments-user .answer-user .user .user-link .user-date a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-forum-item .comments-user .answer-user .answer {
  margin-left: 62px;
  width: calc(100% - 62px);
  text-align: left;
}
.page-forum-item .comments-user .answer-user .answer .reactions {
  width: 100%;
  margin-top: 12px;
  display: flex;
}
.page-forum-item .comments-user .answer-user .answer .reactions .one-reactions {
  display: flex;
  align-items: center;
  height: 24px;
  margin-right: 12px;
}
.page-forum-item .comments-user .answer-user .answer .reactions .one-reactions span {
  margin-left: 6px;
}
.page-forum-item .comments-user .answer-user .answer .reactions .one-reactions .svg {
  margin: 0;
  cursor: pointer;
}
.page-forum-item .comments-user .answer-user .answer .reactions .one-reactions .svg svg {
  width: 24px;
  height: 24px;
  fill: #ccc;
  transition: fill 0.2s;
}
.page-forum-item .comments-user .answer-user .answer .reactions .one-reactions .svg:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}
.page-forum-item .comments-user .answer-user .more-menu {
  position: absolute;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  top: 50px;
  right: 0;
  width: 150px;
  background: #161b22;
  box-shadow: 0 0 10px #0d1117;
  border-radius: 5px;
  transition: 0.2s;
}
.page-forum-item .comments-user .answer-user .more-menu.active {
  opacity: 1;
  pointer-events: all;
}
.page-forum-item .comments-user .answer-user .more-menu .btn {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.page-forum-item .comments-user .answer-user .more-menu .btn svg {
  width: 32px;
  height: 32px;
  margin: 9px;
  fill: #ccc;
  transition: fill 0.2s;
}
.page-forum-item .comments-user .answer-user .more-menu .btn span {
  font-size: 18px;
  transition: color 0.2s;
}
.page-forum-item .comments-user .answer-user .more-menu .btn:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}
.page-forum-item .comments-user .answer-user .more-menu .btn:hover span {
  color: rgba(0, 116, 204, 0.7);
}
.page-forum-item .send-comment {
  width: 100%;
  padding-bottom: 4px;
  margin-top: auto;
}
.page-forum-item .send-comment form {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.page-forum-item .send-comment form textarea {
  width: calc(100% - 50px);
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
}
.page-forum-item .send-comment form button {
  width: 50px;
  height: 50px;
  padding: 9px;
}
.page-forum-item .send-comment form button svg {
  width: 32px;
  height: 32px;
  fill: rgb(0, 116, 204);
  transition: fill 0.2s;
}
.page-forum-item .send-comment form button:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}

.report-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  left: calc(50% - 200px);
  padding: 6px;
  opacity: 0;
  pointer-events: none;
  background: #161b22;
  border-radius: 5px;
  z-index: 11;
  transition: 0.2s;
}
.report-menu.active {
  opacity: 1;
  pointer-events: all;
}
.report-menu .close-line {
  width: 100%;
  height: 50px;
  text-align: right;
}
.report-menu .close-line span {
  cursor: pointer;
}
.report-menu .close-line span svg {
  width: 50px;
  height: 50px;
  stroke: #ccc;
  transition: stroke 0.2s;
}
.report-menu .close-line span:hover svg {
  stroke: rgba(217, 217, 217, 0.6);
}
.report-menu .logo-block {
  width: 100%;
  height: 100px;
}
.report-menu .logo-block a {
  display: inline-block;
}
.report-menu .logo-block a svg {
  width: 100px;
  height: 100px;
  fill: #ccc;
  transition: fill 0.2s;
}
.report-menu .logo-block a:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.report-menu .description {
  width: 100%;
  margin-top: 50px;
  text-align: left;
}
.report-menu .description input {
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.report-menu .description textarea {
  width: 100%;
  border-color: rgba(217, 217, 217, 0.6);
  padding: 6px;
  margin-top: 6px;
  max-height: 200px;
  overflow-y: scroll;
}
.report-menu .description textarea::-webkit-scrollbar {
  width: 0;
}
.report-menu .accept {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(217, 217, 217, 0.6);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
  margin-top: auto;
}
.report-menu .accept:hover {
  color: rgba(0, 116, 204, 0.7);
}

.sign-in {
  width: 400px;
  height: 600px;
  padding: 12px;
  margin: 12px auto;
  display: flex;
  flex-direction: column;
  background: #161b22;
  border-radius: 5px;
  z-index: 11;
  transition: 0.2s;
}
.sign-in .close-line {
  width: 100%;
  height: 50px;
  text-align: right;
}
.sign-in .close-line span {
  cursor: pointer;
}
.sign-in .close-line span svg {
  width: 50px;
  height: 50px;
  stroke: #ccc;
  transition: stroke 0.2s;
}
.sign-in .close-line span:hover svg {
  stroke: rgba(217, 217, 217, 0.6);
}
.sign-in .logo-block {
  width: 100%;
  height: 100px;
}
.sign-in .logo-block a {
  display: inline-block;
}
.sign-in .logo-block a svg {
  width: 100px;
  height: 100px;
  fill: #ccc;
  transition: fill 0.2s;
}
.sign-in .logo-block a:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.sign-in .description {
  width: 100%;
  margin-top: 50px;
  text-align: left;
}
.sign-in .description input {
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.sign-in .description .pass {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.sign-in .description .pass input {
  width: calc(100% - 50px);
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
}
.sign-in .description .pass span svg {
  fill: #ccc;
  width: 32px;
  height: 32px;
  margin: 4px 0 4px 8px;
  transition: fill 0.2s;
}
.sign-in .description .pass span:hover {
  cursor: pointer;
}
.sign-in .description .pass span:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.sign-in .description .pass span.active svg {
  fill: rgb(0, 116, 204);
}
.sign-in .description .pass span.active:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}
.sign-in .accept {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(217, 217, 217, 0.6);
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
  margin-top: auto;
}
.sign-in .accept:hover {
  color: rgba(0, 116, 204, 0.7);
}

.sign-up {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: calc(100vh - 376px);
  margin: 12px auto;
  background: #161b22;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.2s;
}
.sign-up .logo-block {
  width: 100%;
  height: 100px;
  padding: 12px 0;
}
.sign-up .logo-block a {
  display: inline-block;
}
.sign-up .logo-block a svg {
  width: 100px;
  height: 100px;
  fill: #ccc;
  transition: fill 0.2s;
}
.sign-up .logo-block a:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.sign-up .flex-block {
  display: flex;
  margin-top: 50px;
  margin-left: 0;
  width: 200%;
  height: -webkit-fill-available;
  transition: margin-left 0.4s;
}
.sign-up .flex-block.active {
  margin-left: -100%;
}
.sign-up .flex-block .first-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  text-align: left;
}
.sign-up .flex-block .first-page input {
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.sign-up .flex-block .first-page .next {
  width: 100%;
  height: 50px;
  margin-top: auto;
  border-top: 1px solid rgba(217, 217, 217, 0.6);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
  cursor: pointer;
}
.sign-up .flex-block .first-page .next:hover {
  color: rgba(0, 116, 204, 0.7);
}
.sign-up .flex-block .second-page {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 12px;
  text-align: left;
}
.sign-up .flex-block .second-page input {
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.sign-up .flex-block .second-page .pass {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 6px;
  margin-top: 6px;
  margin-bottom: 12px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.sign-up .flex-block .second-page .pass input {
  width: calc(100% - 50px);
  height: 38px;
  border: 0;
  margin: 0;
  padding: 0;
}
.sign-up .flex-block .second-page .pass span svg {
  fill: #ccc;
  width: 32px;
  height: 32px;
  margin: 4px 0 4px 8px;
  transition: fill 0.2s;
}
.sign-up .flex-block .second-page .pass span:hover {
  cursor: pointer;
}
.sign-up .flex-block .second-page .pass span:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.sign-up .flex-block .second-page .pass span.active svg {
  fill: rgb(0, 116, 204);
}
.sign-up .flex-block .second-page .pass span.active:hover svg {
  fill: rgba(0, 116, 204, 0.7);
}
.sign-up .flex-block .second-page .btn-form {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: auto;
  border-top: 1px solid rgba(217, 217, 217, 0.6);
  font-size: 20px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sign-up .flex-block .second-page .btn-form .accept {
  width: 50%;
  height: 50px;
  color: rgb(0, 116, 204);
  transition: color 0.2s;
}
.sign-up .flex-block .second-page .btn-form .accept:hover {
  color: rgba(0, 116, 204, 0.7);
}
.sign-up .flex-block .second-page .btn-form .back {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}
.sign-up .flex-block .second-page .btn-form .back span {
  transition: color 0.2s;
}
.sign-up .flex-block .second-page .btn-form .back svg {
  width: 26px;
  height: 26px;
  margin: 12px 0;
  margin-right: 12px;
  transform: rotate(-90deg);
  fill: #ccc;
  transition: fill 0.2s;
}
.sign-up .flex-block .second-page .btn-form .back:hover span {
  color: rgba(217, 217, 217, 0.6);
}
.sign-up .flex-block .second-page .btn-form .back:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}

.page-user {
  width: 100%;
  min-height: calc(100vh - 400px);
  margin: 12px;
  padding: 12px;
  border-radius: 10px;
}
.page-user .user-info {
  position: relative;
  display: flex;
  width: 100%;
}
.page-user .user-info .nav-page {
  position: absolute;
  top: 10px;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6);
  z-index: 1;
}
.page-user .user-info .nav-page .href-page {
  width: calc(100% - 200px);
  height: 38px;
  margin-left: auto;
  display: flex;
}
.page-user .user-info .nav-page .href-page a {
  display: flex;
  margin: 0 12px;
}
.page-user .user-info .nav-page .href-page a svg {
  width: 24px;
  height: 24px;
  margin: 7px;
  fill: #ccc;
  transition: fill 0.2s;
}
.page-user .user-info .nav-page .href-page a .a-page {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 38px;
  line-height: 38px;
  transition: color 0.2s;
}
.page-user .user-info .nav-page .href-page a.active {
  border-bottom: 1px solid rgb(0, 116, 204);
}
.page-user .user-info .nav-page .href-page a:hover svg {
  fill: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .nav-page .href-page a:hover .a-page {
  color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-data {
  position: relative;
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
}
.page-user .user-info .user-data .avatar {
  width: 150px;
  height: 150px;
  margin: 25px auto;
  border-radius: 100%;
  border: 1px solid #ccc;
  background-color: #161b22;
  cursor: pointer;
  transition: border-color 0.2s;
}
.page-user .user-info .user-data .avatar img {
  width: 146px;
  height: 146px;
  margin: 1px;
}
.page-user .user-info .user-data .avatar:hover {
  border-color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-data span {
  font-size: 20px;
  color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-data .btn-change {
  width: 100%;
  height: 32px;
  font-size: 20px;
  line-height: 32px;
  margin: 12px 0;
  background: #161b22;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.page-user .user-info .user-data .btn-change:hover {
  background: rgba(22, 27, 34, 0.7);
}
.page-user .user-info .user-activity {
  width: calc(100% - 200px);
  padding: 12px;
  margin-top: 72px;
}
.page-user .user-info .user-activity .activity-screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 500px);
}
.page-user .user-info .user-activity .activity-screen .clear {
  margin: auto;
  width: 200px;
  height: 200px;
}
.page-user .user-info .user-activity .activity-screen .clear svg {
  width: 150px;
  height: 150px;
  margin: 0 25px;
  fill: #ccc;
}
.page-user .user-info .user-activity .activity-screen .clear span {
  font-size: 22px;
  font-weight: bold;
}
.page-user .user-info .user-activity .activity-screen .news-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 25px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6);
  transition: 0.2s;
  overflow: hidden;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block {
  position: relative;
  width: 375px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block img {
  width: 100%;
  height: 250px;
  transition: 0.2s;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block .dark-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.2s;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block a {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 116, 204);
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: 0.2s;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block h3 {
  position: absolute;
  bottom: -30px;
  left: 10px;
  transition: 0.4s;
  cursor: context-menu;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block:hover img {
  filter: blur(2px);
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block:hover .dark-img {
  background: rgba(0, 0, 0, 0.8);
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block:hover a {
  bottom: 50px;
}
.page-user .user-info .user-activity .activity-screen .news-item .img-block:hover h3 {
  bottom: 10px;
  color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .news-item .text-block {
  width: calc(100% - 477px);
  height: 250px;
  margin: 0 20px 0 20px;
  text-align: left;
}
.page-user .user-info .user-activity .activity-screen .news-item .text-block a {
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 116, 204);
}
.page-user .user-info .user-activity .activity-screen .news-item .text-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-user .user-info .user-activity .activity-screen .news-item .text-block div {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100px;
  height: 250px;
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block .date {
  position: absolute;
  top: 0;
  width: 100%;
  color: rgba(217, 217, 217, 0.6);
  text-align: right;
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block .info {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block .info svg {
  width: 25px;
  height: 25px;
  fill: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block .info span {
  color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block a {
  position: absolute;
  bottom: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 25px;
  border-radius: 5px;
  background: rgba(201, 24, 24, 0.6);
  transition: 0.2s;
}
.page-user .user-info .user-activity .activity-screen .news-item .info-block a:hover {
  background: rgba(201, 24, 24, 0.3);
}
.page-user .user-info .user-activity .activity-screen .block-discussion {
  width: 80%;
  min-height: 50px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.6);
  margin: 0 auto;
  padding: 12px;
  transition: 0.2s;
  overflow: hidden;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block {
  display: flex;
  align-items: center;
  width: 100%;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .info-block {
  width: 100px;
  min-height: 75px;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .info-block .info {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .info-block .info svg {
  width: 25px;
  height: 25px;
  fill: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .info-block .info svg.favorite {
  fill: none;
  stroke: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .info-block .info span {
  color: rgba(217, 217, 217, 0.6);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .text-block {
  width: calc(100% - 140px);
  min-height: 75px;
  text-align: left;
  margin-left: 12px;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .text-block a {
  font-weight: bold;
  color: rgb(0, 116, 204);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .text-block a:hover {
  color: rgba(0, 116, 204, 0.7);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .text-block div {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .del {
  display: inline-block;
  margin-bottom: auto;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .del svg {
  width: 24px;
  height: 24px;
  fill: rgba(201, 24, 24, 0.6);
  transition: fill 0.2s;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .upper-block .del:hover svg {
  fill: rgba(201, 24, 24, 0.3);
}
.page-user .user-info .user-activity .activity-screen .block-discussion .topic-block {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .topic-block a {
  margin: 6px;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .topic-block a .topic {
  background: rgb(0, 116, 204);
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.2s;
}
.page-user .user-info .user-activity .activity-screen .block-discussion .topic-block a:hover .topic {
  background: rgba(0, 116, 204, 0.7);
}
.page-user .user-info .user-activity .activity-screen .add {
  display: inline-block;
  width: 80%;
  height: 50px;
  margin: auto auto 0 auto;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
  color: rgb(0, 116, 204);
  font-size: 20px;
  line-height: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: color 0.2s;
}
.page-user .user-info .user-activity .activity-screen .add:hover {
  color: rgba(0, 116, 204, 0.7);
}

.create-menu {
  width: 400px;
  min-height: calc(100vh - 400px);
  margin: 12px auto;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.create-menu a {
  display: inline-block;
  margin: 12px auto;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 100%;
  transition: 0.2s;
}
.create-menu a img {
  width: 146px;
  height: 146px;
  margin: 1px;
}
.create-menu a:hover {
  border-color: rgba(217, 217, 217, 0.6);
}
.create-menu h2 {
  color: rgba(217, 217, 217, 0.6);
}
.create-menu .select_create {
  width: 100%;
  padding: 12px;
  text-align: left;
}
.create-menu .select_create select {
  width: 100%;
  height: 50px;
  background: none;
  margin: 12px 0;
  padding: 6px;
  color: rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.create-menu .select_create select option {
  color: black;
}
.create-menu .news-form {
  display: none;
  width: 100%;
  padding: 12px;
}
.create-menu .news-form.active {
  display: block;
}
.create-menu .discussion-form {
  display: none;
  width: 100%;
  padding: 12px;
  text-align: left;
}
.create-menu .discussion-form.active {
  display: block;
}
.create-menu .discussion-form input {
  width: 100%;
  height: 50px;
  margin: 12px 0;
  padding: 6px;
  border: 1px solid rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.create-menu .discussion-form textarea {
  width: 100%;
  min-height: 50px;
  padding: 12px 6px;
  margin: 12px 0;
  border-color: rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.create-menu .discussion-form select {
  width: 100%;
  height: 50px;
  background: none;
  margin: 12px 0;
  padding: 6px;
  color: rgba(217, 217, 217, 0.6);
  border-radius: 10px;
}
.create-menu .discussion-form select option {
  color: black;
}
.create-menu .discussion-form button {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgba(217, 217, 217, 0.6);
  color: rgb(0, 116, 204);
  font-size: 20px;
  font-weight: bold;
  transition: color 0.2s;
}
.create-menu .discussion-form button:hover {
  color: rgba(0, 116, 204, 0.7);
}/*# sourceMappingURL=main.css.map */