$background: #0d1117;
$color-header-bg: #161b22;
$color-text: #ccc;
$color-text-hover: rgba(217, 217, 217, .6);
$a-color: rgba(0, 116, 204, 1);
$a-color-hover: rgba(0, 116, 204, .7);

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    color: $color-text;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

//end of defaults

html {
    overflow-y: scroll;
    width: 100%;
}

body {
    width: 100%;
    background: $background;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: $color-text;
    transition: color .2s;

    &:focus-visible {
        outline: 0;
    }

    &:hover {
        color: $color-text-hover;
    }
}

input {
    background: 0;
    border: 0;
    color: $color-text;

    &:focus-visible{
        outline: 0;
    }
}

textarea{
    background: 0;
    border: 1px solid $color-text;
    border-radius: 5px;
    resize: none;
    color: $color-text;

    &:focus-visible{
        outline: 0;
    }
}

button{
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
    cursor: pointer;
}

//header css

header{
    width: 100%;
    height: 60px;
    background: $color-header-bg;
    padding: 16px;

    svg{
        width: 32px;
        height: 32px;
        margin: 0 16px 0 16px;
    }

    .flex-main-header{
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: space-between;

        .flex-btn-header{
            display: flex;
            width: 300px;
            height: 28px;
            align-items: center;

            a{
                margin: 0 12px 0 12px;

                .logo-svg{
                    fill: $color-text;  
                    transition: fill .2s;
                }

                &:hover{
                    .logo-svg{
                        fill: $color-text-hover;
                    }
                }
            }
        }

        .search{
            width: 500px;
            height: 32px;
            padding: 2px 2px 2px 5px;
            margin: 0 auto 0 20px;
            border: 1px solid $color-text;
            border-radius: 5px;
            overflow: hidden;
            display: flex;
            transition: .2s;

            input{
                width: calc(100% - 28px);
                height: 28px;
            }

            select{
                width: 60px;
                -moz-appearance: none;
                -webkit-appearance: none;
                background: none;
                border: none;
                position: relative;
                outline: none;
                                    
            }

           button{
                width: 28px;
                height: 28px;

                svg{
                    margin: 0;
                    width: 28px;
                    height: 28px;
                    fill: $color-text;
                    transition: fill .2s;
                }

                &:hover{
                    svg{
                        fill: $color-text-hover;
                    }
                }
           }

           &:hover{
            border-color: $color-text-hover;
           }
        }

        .btn-profile{
            padding-right: 12px;
            display: flex;
            align-items: center;

            hr{
                margin: 0 10px 0 10px;
            }
        }
    }

    &.home-header{
        position: relative;
        background: rgba(0,0,0,0);
        z-index: 3;

        .search{
            display: none;
        }
    }
}

//footer css

footer {
    width: 100%;
    background: $color-header-bg;
    padding: 24px;

    .btn-footer{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 12px auto 32px auto;

        a{
            div{
                width: 200px;
                height: 100px;
                border: 1px solid $color-text;
                border-radius: 5px;
                padding: 5px;
                transition: border-color .2s;

                svg{
                    width: 60px;
                    height: 60px;
                    fill: $color-text;
                    transition: fill .2s;
                }

                span{
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: uppercase;
                    transition: color .2s;
                }
            }

            &:hover{
                div{
                    border-color: $color-text-hover;
    
                    svg{
                        fill: $color-text-hover;
                    }
    
                    span{
                        color: $color-text-hover;
                    }
                }
            }
        }
    }

    .hr-git{
        position: relative;
        display: flex;
        align-items: center;
        width: 90%;
        height: 60px;
        margin: auto;
        

        hr{
            width: 100%;
        }

        .bg-git{
            position: absolute;
            top: 0;
            left: calc(50% - 100px);
            bottom: 0;
            width: 200px;
            height: 60px;
            background: $color-header-bg;

            a{    
                svg{
                    width: 60px;
                    height: 60px;
                    fill:$color-text;
                    transition: fill .2s;
            
                    &:hover{
                        fill: $color-text-hover;
                    }
                }
            } 
        }        
    }

    h3{
        margin-left: 5%;
        text-align: left;
    }
}


//wrap

.wrap{
    position: relative;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 336px);
}

//error page 

.display-error{
    position: absolute;
    top: -60px;
    width: 100%;
    height: calc(100vh - 275px);
    overflow: hidden;

    img{
        height: 100vh;
        min-width: 100%;
        bottom: 0;
        z-index: 1;
    }

    a{
        .logo-svg{
            position: absolute;
            z-index: 3;
            fill: $color-text;  
            width: 100px;
            height: 100px;
            top: 10%;
            left: calc(50% - 50px);
            transition: fill .2s;
        }

        &:hover{
            .logo-svg{
                fill: $color-text-hover;
            }    
        }
    }

    h1{
        position: absolute;
        z-index: 3;
        top: 200px;
        left: calc(50% - 110px);
        color: $color-text;
    }

    .error-screen{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(1, 1, 1, .5);
        box-shadow: inset 0px 0px 100px #000;
    }
}

//home page

.display-home{
    position: absolute;
    top: -60px;
    width: 100%;
    height: calc(100vh - 275px);
    overflow: hidden;

    img{
        height: 100vh;
        min-width: 100%;
        bottom: 0;
        z-index: 1;
    }

    .logo-svg{
        position: absolute;
        z-index: 3;
        fill: $color-text;  
        width: 100px;
        height: 100px;
        top: 10%;
        left: calc(50% - 50px);
    }
    
    .home-screen{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: rgba(1, 1, 1, .5);
        box-shadow: inset 0px 0px 100px #000;

        .home-page-line{
            width: 50%;
            text-align: left;

            .input-home-screen{
                display: flex;
                width: 100%;
                background-color: $color-text-hover;
                border: 1px solid grey;
                border-radius: 5px;
                padding: 12px;
                margin: 0 auto;
                height: 60px;
    
                input{
                    width: calc(100% - 136px);
                    height: 36px;
                    color: white;
    
                    &::placeholder{
                        color: lightgrey;
                    }
                }

                select{
                    width: 100px;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    background: none;
                    border: none;
                    position: relative;
                    outline: none;
                    padding: 5px;                    
                }
    
                button{
                    width: 36px;
                    height: 36px;
    
                    svg{
                       fill: $color-text; 
                       width: 36px;
                       height: 36px;
                       transition: fill .2s;
                    }
    
                    &:hover{
                        svg{
                            fill: white;
                        }
                    }
                }
            }
    
            h1{
                margin-bottom: 12px;
                color: white;
                text-transform: uppercase;
            }
    
            .home-page-sign{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 50%;
                height: 50px;
    
                hr{
                    margin: 0 12px 0 12px;
                }
                span{
                    font-size: 20px;
                    margin-right: 12px;
                }
    
                a{
                    text-decoration: underline;
                }
            }
        } 
    }
}

//news page

.news-page{
    width: calc(100% - 340px);
    min-height: calc(100vh - 376px);
    margin: 20px;
    background: $color-header-bg;
    border-radius: 5px;

    .filter-menu{
        width: calc(100% - 25px);
        height: 50px;
        margin: 12px;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;

        span{
            color: $color-text-hover;
        }

        a{
            margin: 12px;
            font-size: 18px;
        }

        hr{
            margin: 0;
        }
    }

    .news-item {
        position: relative;
        display: flex;
        align-items: center;
        width: calc(100% - 25px);
        height: 300px;
        margin: 12px;
        padding: 25px;
        border-bottom: 1px solid $color-text-hover;
        transition: .2s;
        overflow: hidden;

        .img-block{
            position: relative;
            width: 375px;
            height: 250px;
            overflow: hidden;  
            border-radius: 5px;         

            img{  
                width: 100%;
                height: 250px;
                transition: .2s; 
            }

            .dark-img{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0,0,0,.7);
                transition: .2s;
            }

            a{
                font-size: 32px;
                font-weight: bold;
                color: $a-color;
                position: absolute;
                bottom: 10px;
                left: 10px;
                transition: .2s;

                &:hover{
                    color: $a-color-hover;
                }
            }

            h3{
                position: absolute;
                bottom: -30px;
                left: 10px; 
                transition: .4s;
                cursor: context-menu;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            &:hover{
                img{
                    filter: blur(2px);
                }

                .dark-img{
                    background: rgba(0,0,0,.8);
                }

                a{
                    bottom: 50px;
                }
    
                h3{
                    bottom: 10px; 
                    color: $color-text-hover;
                }
            }
        }

        .text-block{
            width: calc(100% - 477px);
            height: 250px;
            margin: 0 20px 0 20px;
            text-align: left;

            a{
                font-size: 24px;
                font-weight: bold;
                color: $a-color;

                &:hover{
                    color: $a-color-hover;
                }
            }

            div{
                display: -webkit-box;
                -webkit-line-clamp: 10;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        .info-block{
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100px;
            height: 250px;

            .date{
                position: absolute;
                top: 0;
                width: 100%;
                color: $color-text-hover;
                text-align: right;
            }

            .info{
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                svg{
                    width: 25px;
                    height: 25px;
                    fill: $color-text-hover;

                    &.favorite{
                        fill: none;
                        stroke: $color-text-hover;
                    }
                }

                span{
                    color: $color-text-hover;
                }
            }  
            
            .more{
                position: absolute;
                bottom: 0;
                text-align: center;
                width: 100%;
                height: 25px;
                border-radius: 5px;
                background: $a-color;
                transition: .2s;

                &:hover{
                    background: $a-color-hover;
                }
            }
        }
    }
}

//forum page

.forum-page{
    width: calc(100% - 340px);
    min-height: calc(100vh - 376px);
    margin: 20px;
    background: $color-header-bg;
    border-radius: 5px;

    .filter-menu{
        width: calc(100% - 25px);
        height: 50px;
        margin: 12px;
        border-bottom: 1px solid $color-text;
        display: flex;
        align-items: center;

        span{
            color: $color-text-hover;
        }

        a{
            margin: 12px;
            font-size: 18px;
        }

        hr{
            margin: 0;
        }
    }

    .block-discussion {
        width: calc(100% - 25px);
        min-height: 50px;
        border-bottom: 1px solid $color-text-hover;
        margin: 12px;
        padding: 12px;
        transition: .2s;
        overflow: hidden;

        .upper-block{
            display: flex;
            align-items: center;
            width: 100%;

            .info-block{
                width: 100px;
                min-height: 75px;
    
                .info{
                    width: 100%;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    svg{
                        width: 25px;
                        height: 25px;
                        fill: $color-text-hover;
    
                        &.favorite{
                            fill: none;
                            stroke: $color-text-hover;
                        }
                    }
    
                    span{
                        color: $color-text-hover;
                    }
                }            
            }
    
            .text-block{
                width: calc(100% - 112px);
                min-height: 75px;
                text-align: left;
                margin-left: 12px;
    
                a{
                    font-weight: bold;
                    color: $a-color;
    
                    &:hover{
                        color: $a-color-hover;
                    }
                }
    
                div{
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }

        .topic-block{
            width: 100%;
            margin-top: 12px;
            display: flex;
            flex-wrap: wrap;

            a{
                margin:6px;

                .topic{
                    background: $a-color;
                    padding: 6px 12px;
                    border-radius: 20px;
                    font-size: 16px;
                    transition: .2s;
                }

                &:hover{
                    .topic{
                        background: $a-color-hover;
                    }
                }
            }
        }
    }
}

//topics

.topics-menu{
    position: sticky;
    top: 20px;
    left: 0;
    width: 300px;
    height: calc(100vh - 376px);
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: $color-header-bg;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0px;
    }

    span{
        color: $color-text-hover;
    }

    .toopic-block{
        width: 100%;
        height: 50px;
        

        svg{
            width: 36px;
            height: 36px;
            fill: $color-text;
        }

        .topic-btn{
            margin-bottom: 12px;

            .first-block{
                display: flex;
                align-items: center;
                justify-content: space-between; 
                cursor: pointer;

                span{
                    display: flex;
                    align-items: center;

                    a{
                        margin-left: 12px;
                    }
                }

                .triangle{
                    width: 12px;
                    height: 12px;
                    transform: rotate(180deg);
                    transition: transform .2s;
                }

                &.active{
                    .triangle{
                        transform: rotate(0deg);
                    } 
                }
            }
            .second-block{
                height: 0;
                overflow: hidden;
                transition: height .2s;
                padding: 0 12px 0 12px;
                width: 100%;

                .btn-click{
                    height: 32px;
                }

                &.active{
                    height: 224px; 
                }
            }
        }
    }
}

// page news item

.page-news-item{
    width: 50%;
    min-height: calc(100vh - 360px);
    margin: 12px auto 12px auto;
    padding: 12px;
    border-radius: 5px;
    background: $color-header-bg;

    .header-news{
        position: relative;
        display: flex;
        width: 100%;
        height: 250px;

        .img-block{
            position: relative;
            width: 375px;
            height: 250px;
            overflow: hidden;  
            border-radius: 5px;         
    
            img{  
                width: 100%;
                height: 250px;
                transition: .2s; 
            }
    
            .dark-img{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(0,0,0,.7);
                transition: .2s;
            }
    
            h1{
                position: absolute;
                bottom: 10px;
                left: 10px;
                transition: .2s;
                cursor: context-menu;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
    
            h3{
                position: absolute;
                bottom: -30px;
                left: 10px; 
                transition: .4s;
                cursor: context-menu;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
    
            &:hover{
                img{
                    filter: blur(2px);
                }
    
                .dark-img{
                    background: rgba(0,0,0,.8);
                }
    
                h1{
                    bottom: 50px;
                }
    
                h3{
                    bottom: 10px; 
                    color: $color-text-hover;
                }
            }
        }

        .info-block{
            position: relative;
            display: flex;
            flex-direction: column;
            text-align: left;
            width: calc(100% - 387px);
            height: 250px;
            margin-left: 12px;

            h2{
                color: $a-color;
            }
    
            .info{
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: left;

                svg{
                    width: 25px;
                    height: 25px;
                    margin-right: 12px;
                    fill: $color-text-hover;

                    &.favorite{
                        fill: none;
                        stroke: $color-text-hover;
                    }
                }

                span{
                    color: $color-text-hover;
                }
            } 
            
            .favorite-div{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50px;
                height: 50px;
                cursor: pointer;

                svg{
                    width: 50px;
                    height: 50px;
                    fill: none;
                    stroke: $a-color;
                    transition: stroke .2s;
                }

                &:hover{
                    svg{
                        stroke: $a-color-hover;
                    }
                }
            }     
            
            .date{
                width: 100%;
                color: $color-text-hover;
                text-align: left;
                margin: 12px 0;
            }
        }

        
    }

    .text-block{
        width: 100%;
        margin: 20px 0 20px 0;
        text-align: left;
    }

    .comment-block{
        width: 100%;
        margin: 12px 0 12px 0;
        text-align: left;

        hr{
            border-color: $color-text-hover;
        }

        .write-comment{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            textarea{
                width: calc(100% - 62px);
                min-height: 50px;
                padding: 12px;
                margin: 12px 0;
                border: 1px solid $color-text;
                border-radius: 5px;
                outline: 0;

                &::-webkit-scrollbar{
                    width: 0;
                }
            }

            button{
                width: 50px;
                height: 50px;
                padding: 10px;
                margin: 12px 0;

                svg{
                    width: 30px;
                    height: 30px;
                    fill: $a-color;
                    transition: fill .2s;
                }

                &:hover{
                    svg{
                        fill: $a-color-hover;
                    }
                }
            }
        }

        .all-comments{
            width: 100%;
            margin-top: 20px;

            .user-comment{
                width: 100%;
                min-height: 100px;
                margin: 12px 0;

                .user{
                    width: 100%;
                    height: 50px;
                    display: flex;

                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }

                    a{
                        color: $a-color;
                        margin-left: 12px;
                        font-weight: bold;

                        &:hover{
                            color: $a-color-hover;
                        }
                    }

                    span{
                        margin-left: auto;
                        color: $color-text-hover;
                    }
                }
                
                .comment{
                    width: calc(100% - 50px);
                    margin-left: 62px;
                    margin-top: -6px;
                }
            }
        }
    }
}