<div class="display-error">
    <img src="/images/home.jpg" alt="">
    <a href="/">
        <svg class="logo-svg ">
            <use xlink:href="/main.svg#logo-svg"></use>
        </svg>
    </a>
    <h1>404: Not Found</h1>
    <div class="error-screen"></div>
</div>