<div class="display-home">
    <img src="/images/home.jpg" alt="">
    <div class="home-screen">
        <div class="home-page-line">
            <h1>The World's #1 forum for MUIV</h1>
            <div class="input-home-screen">
                <input type="text" name="" id="" placeholder="Enter what you want...">
                <button>
                    <svg>
                        <use xlink:href="/main.svg#search-svg"></use>
                    </svg>
                </button>
            </div>
            <div class="home-page-sign">
                <span>To continue</span>
                <a href="">Sign in</a>
                <hr width="1" size="28"/>
                <a href="">Sign up</a>
            </div>
        </div>
    </div>
</div>