<div class="news-page">
    <div class="filter-menu">
        <span>Sorted by:</span>
        <a href="">Newest</a>
        <hr width="1" size="28"  />
        <a href="">Comments</a>
        <hr width="1" size="28"  />
        <a href="">Views</a>
        <hr width="1" size="28"  />
        <a href="">Favourites</a>
    </div>
    <div class="news-item">
        <div class="img-block">
            <img src="/images/news/major.jpg" alt="">
            <div class="dark-img"></div>
            <a href="?">CS:GO</a>
            <h3>IEM Rio Major 2022</h3>
        </div>  
        <div class="text-block">
            <a href="/news/item?">OUTSIDERS QUALIFY FOR BLAST PREMIER WORLD FINAL</a><br><br>
            <div>The newly crowned Major champions will head to Abu Dhabi in December. <br> <br>

                Following their underdog run all the way to the trophy at the IEM Rio Major, Outsiders have qualified for the $1,000,000, eight-team BLAST Premier World Final. They will head out to Abu Dhabi for the season-ending spectacle, which takes place December 14-18.</div>
        </div>  
        <div class="info-block">
            <div class="date">17.11.2022</div>
            <div class="info">
                <svg>
                    <use xlink:href="/main.svg#yey-svg"></use>
                </svg>
                <span>0</span>
            </div>
            <div class="info">
                <svg>
                    <use xlink:href="/main.svg#forum-svg"></use>
                </svg>
                <span>1</span>
            </div>
            <div class="info">
                <svg class="favorite">
                    <use xlink:href="/main.svg#favorite-svg"></use>
                </svg>
                <span>10</span>
            </div>
            <a href="/news/item?">
                <div class="more">More...</div>
            </a>
        </div>
    </div>
    
</div>